

:root {
    --main-color: hotpink;
    --background-color: #f0f0f0;
    --font-size: 16px;
    /* Add more variables as needed */
}

div {
    position: relative;
}

h1 {
    position: absolute;
}

article {
    position: absolute;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
    position: absolute;
}
img {
    float: right;
}