body{
    display: grid;
   margin: auto ;
   border-radius: .5rem;
   font: 1em comic sans ms;
   background: center;
   background: url(../images/rafting4_600.jpg) no-repeat;
   background-size: contain ;
   border-radius: .5rem;
 

}
.img .srcset{
    box-sizing: 30px;
}

img {
    display: flex;
    margin: auto;
    border-radius: .5rem;
    box-shadow: rgb(24, 14, 2);
    background-size: cover;
    }

    .img.grid-container{
        background: center;}
h1 {
   margin: auto;
   color: rgba(94, 131, 176, 0.973);
   text-align: center;
   padding: 50px;
   border-radius: 40px;
   border-radius: .5rem;
   cursor: pointer;
   font-size: medium;

}

h2{
    margin: auto;
   color: rgba(6, 6, 45, 0.973);
   text-align: center;
   padding: 1px;
   border-radius: 40rem;
}

p{
    margin: auto;
   color: rgba(6, 6, 45, 0.973);
   text-align: center;
   padding: 10px;
   border-radius: 40rem;
  
}

.navbar{
    position: center;
    padding: 40px;
    box-shadow: 50px;
    border-radius: .5rem;
}

.header {
    background-image: url('path/to/hero-image.jpg');
    height: auto;
    text-align: center;
}

    footer { background:  #e6c7c7;
        color: #d3d4d6;
        border-radius: 40px;
        border-radius: .5rem;
        cursor: pointer;
        font-size: medium;
        
       
    }

    .banner{
        nav-right: auto;
        border: gb(184, 202, 144);
        font-display: center ;
        
    }

   div{background: antiquewhite;
   }